php_flag display_errors on
php_value error_reporting 6143
<IfModule mod_rewrite.c>
RewriteEngine On
#RewriteBase /equipe/

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{QUERY_STRING} ^(.*)$
RewriteRule ^([a-z,A-Z,0-9,_]+)/([a-z,A-Z,0-9,_]+)/pdf pdf.php?profile=$1&idioma=$2?%1 [QSA,L,END]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{QUERY_STRING} ^(.*)$
RewriteRule ^([a-z,A-Z,0-9,_]+)/([a-z,A-Z,0-9,_]+) index.php?profile=$1&idioma=$2?%1 [QSA,L,END]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{QUERY_STRING} ^(.*)$
RewriteRule ^([a-z,A-Z,0-9,_]+)/pdf pdf.php?profile=$1&idioma=pt_BR?%1 [QSA,L,END]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{QUERY_STRING} ^(.*)$
RewriteRule ^([a-z,A-Z,0-9,_]+) index.php?profile=$1&idioma=pt_BR?%1 [QSA,L,END]

</IfModule>